* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  color: #5f1d1d;
}

body{
  background-color: #fafafa;
  padding: 70px;
}

.botaovoltar{
  max-width: 50px;
}

h2{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
  color: #1e7e9b;
}